* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.profile{
    background-color: #00ff08;
    display: flex;
    gap: 50px;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
}

.logo{
    margin-left: 50px;
    padding: 10px 10px;
}

.profile-container{
    margin: 15px 50px;
    text-align: center;
    padding-right: 10px;
}

.btn-button button {
    margin-top: 10px;
    padding: 5px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: #00ff08;
}

button:hover {
    box-shadow: 0px 0px 8px rgb(252, 252, 252);
    transform: scale(1.05);
}

.descript{
    color: #000;
    font-size: 13px   
}

.user{
    font-weight: 700;
}