*
.html,body{
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.icones {
  width: 14px;
  height: 14px;
  margin-top: 5px;
}

.top_header {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #581200;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 12px;
  color: #EDCBAB;
  display: flexbox;
  justify-content: safe;
}

#left_head {
  height: 30px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#right_head {
  height: 30px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Topicos2 {
  text-decoration: none;
  color: #EDCBAB;
}

header{
  display: flex;
  background-color: #EDCBAB;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
}
nav{
    text-align: right;
}

.Logo_icon{
  width: 10%;
  margin-left: 20px;
}

.Topicos {
  display: inline-flex;
  align-items: center;  
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #581200;
  text-decoration: none;
  margin-right: 30px;
}
#button_1 { 
  background-color: #a00000;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  font-weight: 900;
  color: rgb(241, 224, 166);
  transition: transform 200ms ease;
}

#button_1:hover {
  transform: scale(1.1);
  opacity: 0.7;
  background-color:  rgb(241, 224, 166);
  color: #a00000;
}

.slider-container {
  width: auto;
  height: 500px;
  overflow: hidden;
  object-fit: fill;
}

.slider {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#TituloSecao {
  font-size: 42px;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.CorpoSecao1 {
  color: #581200;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.CorpoSecao2 {
  color: #EDCBAB;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.Conteiner00 {
  justify-items: center;
  display: flex;
  text-align: center;
} 

#Secao1 {
  display: flex;
  justify-content: center;
  background-color: #EDCBAB;
  width: 100%;
  height: 434px;
}

#Conteiner1 {
  color: #581200;
  width: 975px;
  height: 975px;
}

#Secao2 {
  display: flex;
  background-color: #581200;
  justify-content: center;
  width: 100%;
  height: 434px;
}

#Conteiner2 {
  color: #EDCBAB;
  width: 975px;
  height: 975px;
}

#Secao3 {
  display: flow-root;
  justify-self: center;
  background-color: #EDCBAB;
  width: 100%;
  height: 600px;
  align-self: center;
  padding-left: 445px;
}


#Conteiner3 {
  display: flex;
  justify-content: space-between;
  color: #581200;
  width: 975px;
  height: auto;
}

#TituloSecao3 {
  font-size: 42px;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #581200;
}

.Card {
  background-color: #581200;
  display: flex;
  width: 320px;
  height: 420px;
}

#replace {
  background-color: #EDCBAB;
  width: 320px;
  height: 328px;
}

.imag {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 328px;
}

.titulocard {
  padding-left: 15px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.corpocard {
  margin-top: -10px;
  padding-left: 15px;
  width: 200px;
  height: 20px;
  color: #EDCBAB;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 108.5%;
}

.avaliacao {
  border-radius: 3px;
  background: #a00000;
  width: 78px;
  height: 35px;
  margin-left: 223px;
  margin-right: 19px;
  margin-top: -42px;
}

.estrela {
  width: 22px;
  height: 22px;
  justify-self: center;
  margin-left: 5px;
  margin-top: 5px;  
}

.notaavaliacao {
  margin-top: -28px;
  padding-left: 35px;
  color: #ffe600; 
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.Conteiner_Galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #581200;
  height: 100px;
}

#TituloGaleria {
  color: #EDCBAB;
  font-size: 42px;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  margin-left: -485px;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 784px;
  background-color: #581200;
}

.galeria-tabela {
  border-collapse: collapse;
}

.fotografias {
  background-color: #581200;
  width: 245px;
  height: 380px;
  margin: 10px;
  text-align: center;
}

.fotos {
  width: 240px;
  height: 380px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}


.separador {
  width: 100%;
  height: 1px;
  background-color: #581200;
  border: none;
}

.separador2 {
  width: 100%;
  height: 1px;
  background-color: #f0d7c0;
  border: none;
}


.footer {
  background-color: #EDCBAB;
  color: #581200;
  text-align: center;
  padding: 20px 0;
}

.logo-footer img {
  width: 15%;
}

.nav-footer {
  margin-top: 20px;
}

.nav-footer ul {
  list-style: none;
  padding: 0;
}

.nav-footer ul li {
  display: inline;
  margin-right: 20px;
}

.nav-footer ul li:last-child {
  margin-right: 0;
}

.nav-footer ul li a {
  text-decoration: none;
  color: #581200;
  font-weight: bold;
}

.nav-footer ul li a:hover {
  color: brown;
}

.direitos-reservados {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif; 
  font-size: 11px;
}

.Agradecimento {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #581200;
}

.Linksfinais {
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #581200;
}
